h1, h2, h3, a, p, div, span {
  font-family: 'Arial', sans-serif;
}

.login {
  width: 90%;
  height: 100%;
  min-height: 200px;
  margin: 0 auto;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  padding: 30px 0;

  &__logo {
    width: 230px;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    font-weight: normal;
  }

  &__subtitle {
    text-align: center;
  }

  form {
    fieldset {
      width: auto;
      border: none;

      label {
        display: block;
        width: 85%;
        margin: 0 auto;
      }

      input {
        display: block;
        width: 80%;
        margin: 5px auto 0;
        padding: 10px;
        border: 1px solid #c6c6c6;
        border-radius: 5px;
        font-size: 12pt;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 10px auto;

    button {
      background-color: rgb(35, 151, 212);
      color: #ffffff;
      border-radius: 5px;
      font-size: 14pt;
      padding: 15px;
      width: 30%;
    }

    a {
      color: rgb(35, 151, 212);
    }
  }
}

@media screen and (min-width: 768px) {
  .login {
    width: 500px;
  }
}
